.terraform

# Directory in which temporary artifacts are created
.temp

# Didn't want beta version of terraform hosted in .temp since that dir gets wiped during build.
# Putting in .temp would work... once. It would disappear immediately after apply
.temp-tf

# Local env variable secrets file (install direnv)
.envrc
